
BraveSoftware/Brave-Browser
dconf
environment.d
fontconfig/conf.d
pulse
mimeapps.list
pavucontrol.ini
lazygit/state.yml
Slack
discord
gtk-3.0
pgcli
bin/rust-analyzer
cef_user_data/WidevineCdm
emacs/auto-save-list
emacs/eln-cache/29.1-733e903f
emacs/elpa
emacs/elpaca
emacs/eshell
emacs/tldr
emacs/transient
emacs/%backup%~
emacs/.dap-breakpoints
emacs/.lsp-session-v1
emacs/config.org~
emacs/init.el~
emacs/projectile-bookmarks.eld
emacs/projectile.cache
emacs/projects
emacs/recentf
emacs/sessions
emacs/tramp
emacs/bookmarks
emacs/config.el
inkscape
lazygit/state.yml
lazygit/state.yml
obs-studio
obsidian
transmission
via-nativia
QtProject.conf
kritadisplayrc
kritarc
zoom.conf
zoomus.conf
apps/waybar-pomodoro
gtk-4.0
lazygit
lazygit
ngrok
lazygit/state.yml
blender/
btop
cef_user_data/Dictionaries
gcloud
lutris
menus/applications-merged
pupgui
systemd/user
waybar/.notifs
fish/completions
fish/fish_variables
tmux/plugins
fish/fish_variables
eww
gh-dash
wpaperd
nnn/.selection
Sirus Launcher
libreoffice/4
chromium
qt-virt-manager
vlc
waybar
wesnoth
yt-test
